# (Exactly one) directory to include all files from.
includedir /etc/munin/munin-conf.d

# Drop somejuser@fnord.comm and anotheruser@blibb.comm an email everytime
# something changes (OK -> WARNING, CRITICAL -> OK, etc)
#contact.someuser.command mail -s "Munin notification" somejuser@fnord.comm
#contact.anotheruser.command mail -s "Munin notification" anotheruser@blibb.comm

[{{ SERVER_NAME }}]
{% for node in MUNIN_NODES %}
    address {{ node }}
{% endfor %}

